@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;400;500;600;700&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
.bodcards{
justify-content: center;
  margin-top: 2rem;
  display: inline-flex;
 flex-wrap: wrap;
}
.bodcards .bodcard{
    width: 500px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: 2px solid #001d45;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px;
    box-shadow: 4px 4px #61616170;
  }
  .bodcard:hover{
    box-shadow: 4px 10px 15px grey;
    border: 2px solid grey;
  }
  .bodcard-img{

    width: 60%;
    height: 70%;
    object-fit: contain;
    background-color: transparent;
    margin-top: 20px;
    margin-left: -42px;
    border-radius: 80px;
  }
.bodcard-body{
    width: 70%;
    height: 100%;
    top: 0;
    position: absolute;
    font-weight: 800;
    padding: 20px;
    right: 0;
  }
  .bodcard-name{
    font-size: 20px;
    margin: 10px 20px;
    font-weight: 800;
    float: right;
    padding: 5px;
    color: #001d45;
  }
  .bodcard-position{
    font-size: 14px;
    margin-top: -18px; 
    margin-left: 25px;
    font-weight: 600;
    text-align: center;
    color: #656565;
    border-bottom: 1px solid #6a6a6a ;
  }
  .bodcard-info{
    color: #727272;
    font-size: 13px;
    margin-top: 40px;
    font-weight: 400;
    margin-left: 50px;
    text-align: center;
  }